<%= link_to 'Welcome to Hotel Reservation', root_path %>
<% if user_signed_in? %>
  <%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %>
<% else %>
  <%= link_to 'Sign in', new_user_session_path %>
  <%= link_to 'Sign up', new_user_registration_path %>
<% end %>

<h1>Listing hotels</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Rooms count</th>
    <th>Rooms status: in reserve || free</th>    
  </tr>

  <% @hotels.each do |hotel| %>
    <tr>
      <td style='border:1pt solid black'><%= hotel.name %></td>
      <td style='border:1pt solid black'><%= hotel.rooms_count %></td>
      <td style='border:1pt solid black'><%= rooms_reservation_status(hotel.rooms) %></td>  <!-- rooms_reservation_status helper method in application_helper.rb -->      
      <td style='border:1pt solid black'><%= link_to 'Show', hotel_path(hotel) %></td>
      <td style='border:1pt solid black'><%= link_to 'Destroy', hotel, method: :delete, data: { confirm: 'Are you sure?' } %>
    </tr>
  <% end %>
</table>




