<%= form_with scope: :hotel, url: hotels_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :rooms_count %><br>
    <%= form.number_field :rooms_count %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>